.App {
  font-family: sans-serif;
  text-align: center;
}

.grid {
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(3, 1fr);
}

div > div {
  padding: 10px;
  background-color: #ccc;
}

.resClear {
  display: flex;
  justify-content: space-around;
}
